<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the" %>
  <%= link_to t(".text"), "http://www.railstutorial.org/"%>
  <%= t ".text2" %>
  <%= link_to t(".book"), "http://www.railstutorial.org/book" %><%= t ".and" %>
  <%= link_to t(".screencast_series"),
    "http://screencasts.railstutorial.org/" %>
  <%= t ".to_teach_web_development_with" %>
  <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>.
  <%= t ".this_is_the_sample_application_for_the_tutorial" %>
</p>
